.AppAside {
  --at-apply: flex bg-neutral-8;
  width: var(--app-aside-width);
}

.AppPanels {
  --layer-panel-h: clamp(200px, var(--value), 300px);
  --at-apply: flex-1 relative flex flex-col-reverse;

  > section:first-child {
    --at-apply: h-$layer-panel-h flex justify-center items-center text-neutral-3;
  }

  > section:last-child {
    --at-apply: flex-1;

    > section {
      --at-apply: pr-5 h-full flex gap-2 justify-center items-center
        text-neutral-3;

      &:not([data-selected]) {
        --at-apply: hidden;
      }

      > * {
        --at-apply: mx-1 flex-1;
      }
    }
  }

  > [role="separator"] {
    --at-apply: w-full h-1 px-2 py-0.25 absolute bottom-$layer-panel-h
      translate-y-50% bg-neutral-9 bg-clip-content cursor-row-resize touch-none;

    &:active,
    &:focus-visible {
      --at-apply: bg-blue bg-clip-border;
    }
  }
}
