.AppBtnSelect {
  &::before {
    --at-apply: icon-cursor-20;
  }

  &[aria-selected="true"]::before {
    --at-apply: icon-cursor-20-filled;
  }
}

.AppBtnDraw {
  &::before {
    --at-apply: icon-pen-20;
  }

  &[aria-selected="true"]::before {
    --at-apply: icon-pen-20-filled;
  }
}

.AppBtnErase {
  &::before {
    --at-apply: icon-eraser-20;
  }

  &[aria-selected="true"]::before {
    --at-apply: icon-eraser-20-filled;
  }
}

.AppBar {
  --at-apply: w-12 py-2 flex flex-col items-center;

  > [role="tab"] {
    --at-apply: px-1.5 py-2 rounded border-2 border-transparent cursor-pointer;

    &:focus-visible {
      --at-apply: border-blue;
    }

    &:hover::before {
      --at-apply: bg-neutral-5;
    }

    &[aria-selected="true"]::before {
      --at-apply: bg-blue;
    }

    &::before {
      --at-apply: block bg-neutral-6;
      content: "";
    }
  }
}
