.AppBtnSelect {
  &::before {
    --at-apply: icon-cursor-20;
  }

  &[aria-selected="true"]::before {
    --at-apply: icon-cursor-20-filled;
  }
}

.AppBtnDraw {
  &::before {
    --at-apply: icon-pen-20;
  }

  &[aria-selected="true"]::before {
    --at-apply: icon-pen-20-filled;
  }
}

.AppBtnErase {
  &::before {
    --at-apply: icon-eraser-20;
  }

  &[aria-selected="true"]::before {
    --at-apply: icon-eraser-20-filled;
  }
}

.AppBar {
  --at-apply: w-11 py-2 flex flex-col items-center;

  > [role="tab"],
  > a {
    --at-apply: px-1.5 py-2 rounded border-2 border-transparent cursor-pointer;

    &:focus-visible {
      --at-apply: border-blue;
    }

    &::before {
      --at-apply: block content-none text-neutral-5;
    }

    &:hover::before {
      --at-apply: text-neutral-4;
    }
  }

  > [role="tab"][aria-selected="true"]::before {
    --at-apply: text-blue;
  }

  > a::before {
    --at-apply: icon-info-20;
  }
}
