.AppPanel {
  --at-apply: w-55 flex flex-col bg-dark-5;

  > section:first-child {
    --at-apply: flex-1;

    section {
      --at-apply: h-full flex justify-center items-center text-neutral-5;

      &:not([data-selected]) {
        --at-apply: display-none;
      }
    }
  }

  > section:last-child {
    --at-apply: h-55 flex justify-center items-center border-solid border-dark-9
      text-neutral-5;
    border-width: 0;
    border-top-width: 2px;
  }
}
